body {
    background-color: #212121;
    color: #fff;
}

#main {
    background: url(dc4_edit.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 105%;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

#work {
    display: block;
    height: 100%;
    width: 100%;
    background-color:  #eaeaea;
    overflow: hidden;
}

#title {
    font-family: 'monda';
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    line-height: 50px;
    margin-bottom: 40px;
}

#landing {
  position: relative;
  top: 38%;
  display: block;
  margin-left: 100px;

}

h1 {
  color: #fff;
  font-family: 'Monda';
  text-transform: lowercase;
  font-size: 30px;
  line-height: 30px;
  display: inline;
  background-color: #3641FF;
  padding: 2px 10px;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#navigation {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
}

#navigation a {
  color: #bdbdbd;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  padding: 4px;
}

#navigation a:hover {
  color: #FF3593;
}

