@font-face {
    font-family: 'denseregular';
    src: url('../../fonts/fonts/dense-regular-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/dense-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'momobomedium';
    src: url('../../fonts/fonts/momobo-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/momobo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_soft_demoextrabold';
    src: url('../../fonts/fonts/qanelassoftdemo-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/qanelassoftdemo-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas_soft_demoultralight';
    src: url('../../fonts/fonts/qanelassoftdemo-ultralight-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/qanelassoftdemo-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'qontraregular';
    src: url('../../fonts/fonts/qontra-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/qontra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radnikamedium';
    src: url('../../fonts/fonts/radnika-medium-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/radnika-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'radnikamedium_condensed';
    src: url('../../fonts/fonts/radnika-mediumcondensed-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/radnika-mediumcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'simplificasimplifica';
    src: url('../../fonts/fonts/simplifica_typeface-webfont.woff2') format('woff2'),
         url('../../fonts/fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #fefefe;
    color: #fff;
}

#main {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

#main::before {
    content: "";
    background: url(../img/me.jpg);
    background-size: 120%;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-position: -40% 75%;
    top: 0px;
    left: 0px;
    z-index: -1;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);

}

#work {
    display: block;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

#title {
    font-family: Rajdhani;
    color: #54adaa;
    font-size: 80px;
    width: 40%;
    position: relative;
    line-height: 60px;
    margin-top: -20px;
    margin-bottom: 40px;
}

#landing {
  position: relative;
  top: 28%;
  display: block;
  margin-left: 100px;
}

h1 {
  color: #fff;
  font-family: Rajdhani;
  text-transform: lowercase;
  font-size: 30px;
  line-height: 30px;
  display: inline;
  background-color: #afc115;
  padding: 2px 10px;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

#navigation {
  margin-top: 20px;
  line-height: 28px;
  font-family: 'radnikamedium_condensed';
  text-transform: uppercase;
  font-weight: 300;
  width: 35%;
}

#navigation a {
  color: #8a8a8a;
  text-decoration: none;
  margin-right: 20px;
  font-size: 15px;
  padding: 4px;
  font-weight: 400;
}

#navigation a:hover {
  color: #afc115;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.title {
  position:absolute;
  font-family: 'Helvetica Neue', 'Roboto';
  z-index: 1;
  text-align: left;
  left: 20px;
  width: 100%;
  font-weight: 100;
  top: calc(100% - 70px);
  font-size: 38px;
  text-transform: uppercase;
}


#desc {
    display: block;
    font-family: Helvetica Neue;
    font-weight: 40000;
    font-size: 20px;
    line-height: 30px;
    width: 40%;
    text-align: left;
    opacity: 1;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    color: #191919;
}
#misc {
    font-family: Helvetica Neue;
    background-color: #2c7a76;
    padding: 20% 15%;
    opacity: 1;
    z-index;1
    padding: 20% 15%;
    font-size: 34px;
    line-height: 60px;
    font-weight: 100;
}
#misc b {
    color: #7cf1eb;
    font-weight: 400;
}
#misc i {
    display: block;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    color: #bdbdbd;
    font-size: 18px;
}

h2 {
    font-family: 'Monda';
    font-weight: 300;
    font-size: 40px;
    margin-bottom: -15px;
    padding-left: 65px;
}
h2::before {
    content: "";
    border-top: 1px solid #fff;
    width: 50px;
    display: block;
    margin-top: 30px;
    margin-left: -60px;
    position: absolute;
}
h3 {
    font-family: 'Helvetica Neue', 'Monda';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    padding-left: 10px;
    color: #3a9c73;
}

/* More info */
